<header>
  <mat-toolbar color="primary">
    <a
      mat-button
      class="isp-logo"
      routerLink='/'
    >
      <img
        class="isp-logo__img"
        src="/assets/images/isp_logo.svg"
        alt="go to main page"
      >
    </a>
    <div class="isp-title">
      <h1>Конференции и мероприятия ISPsystem</h1>
    </div>
    <button
      mat-button
      mat-icon-button
      routerLink="/about"
    >
      <mat-icon>help_outline</mat-icon>
    </button>
  </mat-toolbar>
</header>

<main class="isp-content">
  <router-outlet></router-outlet>
  <div class="isp-footer__placeholder"></div>
</main>

<footer>
  <mat-toolbar class="isp-footer">
    <mat-toolbar-row class="isp-footer__row">
      <h3>ISPsystem ©, 2004-2018</h3>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>