<mat-card class="isp-event">
  <mat-card-title>{{ event.title }}</mat-card-title>
  <mat-card-content>{{ event.description }}</mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" class="isp-event__button" (click)="clickedEvent.emit(event.id)">
      Click to emit
    </button>

  </mat-card-actions>
  <button mat-flat-button color="accent" (click)="toggleModal()">
    Delete
  </button>
</mat-card>
<app-create-event *ngIf="isShowModal" (eventClose)="toggleModal()"></app-create-event>
